@charset "utf-8";

body {
    font-family: sans-serif;
    font-size: 15px;
    margin: 3em;
    padding-left: 18px;
}

.profile {
    list-style-type: none;
}

.profile {
    padding: 16px;
    border: 1px solid #095cdc;
}
.main-style {
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
}